.DS_Store
/bin/
.idea/
iSpiEFP/out/test
iSpiEFP/out/production/iSpiEFP_GUI
/iSpiEFP/opt_1.out
/iSpiEFP/pbc_1.out
/iSpiEFP/w6b2_energy.out
/iSpiEFP/w6b2_md.out
/iSpiEFP/w6b2_pairwise.out
/target/
src/test/resources/testFileSettings.config
iSpiEFP.iml
