.progress-indicator .indicator {
    -fx-background-color: transparent ;
      -fx-alignment: CENTER;
    -fx-fill-height: false;
}
.progress-indicator {
    -fx-progress-color: blue ;
}

.root { -fx-background-color: transparent; }
