.data0.chart-bar {
    -fx-bar-fill: #eb4034;

}

.data1.chart-bar {
    -fx-bar-fill: #3471eb;
}

.data2.chart-bar {
    -fx-bar-fill: #34eb3a;
}

.data3.chart-bar {
    -fx-bar-fill: #6b34eb;
}

.data3.chart-bar {
    -fx-bar-fill: #000000;
}